<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="/static/style/style.css" rel="stylesheet">
        {% block javas %}{% endblock %}
        <title>Meta Tic-Tac_toe: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <div class="center">
            <h1>Meta Tic-Tac-Toe</h1>
        </div>
        <nav>
            <div class="navlist">
                <a class="navlistlink" href="/directions">How to Play</a> <a class="navlistlink" href="/">Start a New Game</a>
            </div>
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>

</html>
