{% extends "layout.html" %}
{% block javas %}
    <script src="/static/javas/userjava.js"></script>
{% endblock %}
{% block title %}
    Home
{% endblock %}

{% block main %}
    <div id="all">
        <br>
        {% if message != 'x' %}
            <div class="center" id="message">{{message}}</div>
        {% else %}
            <div class="center">Your turn! Click on any blue cell to place your X.</div>
        {% endif %}
        <br>
        <div class="center">
            <table class='outer'>
                {% for outerrow in range(1,4) %}
                    <tr>
                        {% for outercol in range(1,4) %}
                            <td class="outgrid">
                                {% set x = (3*(outerrow - 1) + outercol)|string %}

                    <!-- Check if this large cell has been won -->
                                {%- if session['0'][x] in ['X','O'] %}
                                    <div class="bigcell"> {{session['0'][x]}} </div>

                    <!-- if not make a grid inside the cell -->
                                {% else %}
                                    <table class='inner'>
                                        {% for innerrow in range(1,4) %}
                                            <tr>
                                                {% for innercol in range(1,4) %}
                                                    {% set y = (3*(innerrow - 1) + innercol)|string %}

                            <!-- check if this is a legal choice and if so make it a blue button -->
                                                    {% if session[x][y] == 'include' %}
                                                        {% set x = 10*(3*(outerrow - 1) + outercol) + 3*(innerrow - 1) + innercol %}
                                                        <td class="ingrid">
                                                            <div class="cell"><button id="{{x}}" onclick="printx(event);"></button></div>
                                                        </td>
                                                    {% else %}
                                                        <td class="ingrid">
                                                            <div class="cell"> {{session[x][y]}} </div>
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
